.vscode/
node_modules/
out/
.vscode-test/
data/
src/client
.continue

exe
bin
assets
tmp

gui/**

.devcontainer
.github

dwarf_rc_schema.json

e2e/_output
e2e/.test-extensions
e2e/storage
e2e/vsix
e2e/test-dwarf/*
!e2e/test-dwarf/config.json
e2e/test-dwarf-yaml/*
!e2e/test-dwarf-yaml/config.yaml
config-yaml-schema.json
src/.buildTimestamp.ts