.vscode/
node_modules/
out/
.vscode-test/
data/
src/client
.continue

exe
bin
assets
tmp

gui/**

.devcontainer
.github

mango_rc_schema.json

e2e/_output
e2e/.test-extensions
e2e/storage
e2e/vsix
e2e/test-mango/*
!e2e/test-mango/config.json
e2e/test-mango-yaml/*
!e2e/test-mango-yaml/config.yaml
config-yaml-schema.json
src/.buildTimestamp.ts